<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{{= it.document.title || "Boilerplate for responsive Websites" }}</title>
		<meta name="description" content="Boilerplate for Web projects">
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="icon" href="apple-touch-icon.png">
		<!-- build:css({.tmp,app}) resources/css/styles.min.css -->
		<link rel="stylesheet" href="resources/vendor/helpers/dist/helper.css">
		<link rel="stylesheet" href="resources/css/styles.css">
		<!-- endbuild -->
	</head>
	<body>
		{{= it.include("nav.html", {"id": it.document.pageId}) }}
		{{# partial.content }}
		<!-- build:js({.tmp,app}) resources/js/scripts.min.js -->
		<script src="resources/vendor/jquery/dist/jquery.js"></script>
		<script src="resources/vendor/handlebars/dist/handlebars.js"></script>
		<script src="resources/js/handlebars.templates.js"></script>
		<script src="resources/js/jquery.boilerplate.js"></script>
		<script src="resources/js/main.js"></script>
		<!-- endbuild -->
	</body>
</html>
