<script>
  var myApp = {};
</script>
<script src="/resources/js/lib/handlebars.runtime.min.js"></script>
<script src="/resources/js/lib/handlebars.templates.js"></script>
<script type="module" src="/resources/js/bundle.js"></script>

{{#if (eq pageId 'products/overview')}}
<script src="/resources/js/products.js"></script>
{{/if}}

<!-- example of loading swiper on homepage -->
{{#if (eq pageId 'index')}}
<script src="/resources/js/lib/swiper-bundle.min.js"></script>
<script type="module">
const swiperElm = document.querySelector('.swiper');
if (swiperElm) {
  const swiper = new Swiper('.swiper', {
    loop: true,
    pagination: {
      el: '.swiper-pagination',
      clickable: true
    },
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    }
  });
  console.log('swiper is ready');
}
</script>
{{/if}}

<script type="module">
  document.addEventListener('domReady', () => {
    console.log('ready')
  });
</script>
