<script>
  var myApp = {};
</script>
<script src="/resources/js/lib/handlebars.runtime.js"></script>
<script src="/resources/js/lib/handlebars.templates.js"></script>
<script src="/resources/js/lib/swiper-bundle.js"></script>
<script type="module" src="/resources/js/bundle.js"></script>
<script src="/resources/js/glider.min.js"></script>
<script type="module">
    const swiperElm = document.querySelector('.swiper');
    if (swiperElm) {
      const swiper = new Swiper('.swiper', {
        loop: true,
        pagination: {
          el: '.swiper-pagination'
        },
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev',
        }
      });
      console.log('swiper is ready');
    }

    new Glider(document.querySelector('.glider'), {
      slidesToShow: 1,
      dots: '#dots',
      draggable: true,
      scrollLock: true,
      arrows: {
        prev: '.glider-prev',
        next: '.glider-next'
      }
    });

  document.addEventListener('domReady', () => {
    console.log()
  });
</script>
