<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Frontend boilerplate</title>
		<meta name="description" content="Boilerplate for Web projects">
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!-- build:css resources/css/styles.min.css -->
		<link rel="stylesheet" href="resources/css/styles.css">
		<!-- endbuild -->
	</head>

	<body>
	<!-- You write code for this content block in another file -->
    {% block content %} {% endblock %}
		<!-- build:js resources/js/scripts.min.js -->
		<script src="resources/bower_components/jquery/dist/jquery.js"></script>
		<script src="resources/bower_components/handlebars/handlebars.runtime.js"></script>
		<script src="resources/js/templates.js"></script>
		<script src="resources/js/jquery.boilerplate.js"></script>
		<script src="resources/js/main.js"></script>
		<!-- endbuild -->
	</body>
</html>
