.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
  margin: 15px;
  flex-wrap: wrap;
  font-family: Quicksand, arial, verdana, sans-serif;

  @media (min-width: 768px) {
    align-items: flex-start;
  }

	@media (min-width: 1024px) {
    margin: 15px 20px 25px;
	}

  @media (min-width: 1320px) {
    margin-left: 0;
    margin-right: 0;
  }

	.logo {
    font-weight: bold;
    font-size: 20px;
    line-height: 1.4;

    :is(span) {
      font-weight: 500;
      font-size: 14px;
      display: block;
    }

    @media (min-width: 1024px) {
      font-size: 1.6em;

      :is(span) {
        font-size: 20px;
      }

    }

		&:hover {
			text-decoration: none;
		}
	}
}
